/*.wave-container {
    justify-content: space-between;
    height: 50px;
    --boxSize: 4px;
    --gutter: 8px;
    width: calc((var(--boxSize) + var(--gutter)) * 13);
}

.wave {
    transform: scale(0.4);
    height: 100%;
    width: var(--boxSize);
    border-radius: 18px;
    background: black;
}

.wave.active {
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.wave1 {
    animation-name: quiet;
}

.wave2 {
    animation-name: normal;
}

.wave3 {
    animation-name: quiet;
}

.wave4 {
    animation-name: loud;
}

.wave5 {
    animation-name: quiet;
}

.wave6 {
    animation-name: normal;
}

.wave7 {
    animation-name: quiet;
}

@keyframes quiet {
    25%{
        transform: scale(.6);
    }
    50%{
        transform: scale(.4);
    }
    75%{
        transform: scale(.8);
    }
}

@keyframes normal {
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(.4);
    }
    75%{
        transform: scale(.6);
    }
}

@keyframes loud {
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(.4);
    }
    75%{
        transform: matrix(1.2);
    }
}