.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Profile Section */
.dashboard-header {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
}

/* Widgets */
.widgets-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.widget-card {
  width: 300px;
  height: 450px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.widget-button {
  padding: 8px 12px;
  background-color: #b91db9cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.widget-button:hover {
  background-color: rgba(185, 29, 185, 0.254);
}

.widget-header {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Scrollable list */
.widget-content {
  overflow-y: auto;
  padding: 10px;
}

.widget-content::-webkit-scrollbar {
  display: none;
}

.widget-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget-card img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin: 5px auto;
  object-fit: cover;
}

.widget-card li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Track info */
.track-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.track-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.track-artist {
  font-size: 12px;
  color: #555;
  margin: 0;
}