.library-body {
    width: 94%;
    height: 90%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-between;
}

.playlist-card {
    width: 15%;
    height: 37%;
    border-radius: 20px;
    background: linear-gradient(10deg, rgba(255, 255, 255, 0.6), rgba(108, 108, 108, 0.2));
    border: 1px solid white;
    padding: 1%;
    margin-bottom: 2%;
    cursor: pointer;
    box-shadow: 3px 6px 3px rgba(0, 0, 0, 0.3)
}

.playlist-image {
    width: 100%;
    border-radius: 15px;
}

.playlist-title {
    font-size: 16px;
    margin: 10px 0px 0px;
}

.playlist-subtitle {
    font-size: 12px;
    margin: 0px;
}

.playlist-play {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}