a {
    text-decoration: none;
}

.btn-body {
    margin: 40px auto;
    height: 60px;
    width: 80px;
    border-radius: 20px;
    color:rgba(255, 240, 245, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s ease;
}

.btn-body.active {
    background-color: rgba(255, 240, 245, 0.4);
    color: #ffffff;
    transform: scale(1.05);
}

.btn-body:hover {
    color: #ffffff;
}

.btn-title {
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px
}